[Desktop Entry]
Type=Application
Name=appimage2rpm.sh
Comment=Derive name + version from filename if not provided
Exec=x-terminal-emulator -e bash -c '/home/runner/work/backup/backup/system_scripts/appimage2rpm.sh; echo ""; echo "=== Script finalizado. Pressione Enter para fechar ==="; read'
Terminal=true
Icon=terminal
Categories=Development;System;
