[Desktop Entry]
Type=Application
Name=build_backup.sh
Comment===============================================================================
Exec=x-terminal-emulator -e bash -c '/home/wander/Public/backup/system_scripts/build_backup.sh; echo ""; echo "=== Script finalizado. Pressione Enter para fechar ==="; read'
Terminal=true
Icon=terminal
Categories=Development;System;
