[Desktop Entry]
Type=Application
Name=build_ol9_openbox_offline.sh
Comment=============================================================
Exec=x-terminal-emulator -e bash -c '/home/wander/Public/backup/build_ol9_openbox_offline.sh; echo ""; echo "=== Script finalizado. Pressione Enter para fechar ==="; read'
Terminal=true
Icon=terminal
Categories=Development;System;
