[Desktop Entry]
Type=Application
Name=gerar_iso_ol9.sh
Comment=----------------------------------------------------
Exec=x-terminal-emulator -e bash -c '/home/runner/work/backup/backup/system_scripts/gerar_iso_ol9.sh; echo ""; echo "=== Script finalizado. Pressione Enter para fechar ==="; read'
Terminal=true
Icon=terminal
Categories=Development;System;
