[Desktop Entry]
Type=Application
Name=rebuild_ol9_xfce_offline.sh
Comment=============================================================
Exec=x-terminal-emulator -e bash -c '/home/wander/Public/backup/rebuild_ol9_xfce_offline.sh; echo ""; echo "=== Script finalizado. Pressione Enter para fechar ==="; read'
Terminal=true
Icon=terminal
Categories=Development;System;
