[Desktop Entry]
Type=Application
Name=setup-zram.sh
Comment=setup-zram.sh
Exec=x-terminal-emulator -e bash -c '/home/runner/work/backup/backup/system_scripts/setup-zram.sh; echo ""; echo "=== Script finalizado. Pressione Enter para fechar ==="; read'
Terminal=true
Icon=terminal
Categories=Development;System;
